
<!-- Page -->
<div class="page">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
      <li class="breadcrumb-item active">Advanced UI</li>
    </ol>
    <h1 class="page-title">Alertify</h1>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-inverse btn-round" href="https://alertifyjs.org/" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel Alertify -->
    <div class="panel">
      <div class="panel-body container-fluid">
        <div class="row row-lg">

      </div>
    </div>
    <!-- End Panel Alertify -->
  </div>
</div>
<!-- End Page -->