<div class="page">
  <!-- Page Header -->
  <div class="page-header">
    <h4 class="page-title">Register</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/dashboard">Home</a></li>
      <li class="breadcrumb-item active">Register</li>
    </ol>
  </div>
  <!-- End Page Header -->
  <!-- Page Content -->
  <div class="page-content">

    <!-- Panel -->
    <div class="panel">
      <div class="panel-heading">

      </div>
      <div class="panel-body">


        <form *ngIf="!registered" class="ui form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <div class="row">
            <div class="form-group col-xs-12 col-md-6">
              <label class="form-control-label" for="inputBasicFirstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName"
                ngControl="firstName" required autocomplete="off" />
            </div>

            <div class="form-group col-xs-12 col-md-6">
              <label class="form-control-label" for="inputBasicLastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName"
                ngControl="lastName" required autocomplete="off" />
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label">Gender</label>
            <div>
              <div class="radio-custom radio-default radio-inline">
                <input type="radio" id="inputGenderMale" name="gender" [(ngModel)]="newUser.gender" ngControl="gender" value="Male" checked
                />
                <label for="inputGenderMale">Male</label>
              </div>
              <div class="radio-custom radio-default radio-inline">
                <input type="radio" id="inputGenderFemale" name="gender" [(ngModel)]="newUser.gender" ngControl="gender" value="Female" />
                <label for="inputGenderFemale">Female</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="inputBasicEmail">Email Address</label>
            <input type="email" class="form-control" id="inputUsername" name="userName" placeholder="User Name" [(ngModel)]="newUser.userName"
              ngControl="userName" required autocomplete="off" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="inputBasicPassword">Password</label>
            <input type="password" class="form-control" name="password1" placeholder="Password" [(ngModel)]="newUser.password" ngControl="password1"
              required autocomplete="off" />
            <input type="password" class="form-control" name="password2" placeholder="Password Again" ngControl="password2" required
              autocomplete="off" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" id=registerButton data-plugin="alertify" [disabled]="!registerForm.form.valid">Register</button>
          </div>

          <div *ngIf="registered">
            <h1>Register Success!</h1>
          </div>
        </form>
      </div>
    </div>
    <!-- End Panel -->

    <!-- Panel -->
    <div class="panel">
    </div>
    <!-- End Panel -->

  </div>
  <!-- End Page Content -->
</div>